# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
local_settings.py

# Media & static
media/
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
htmlcov/
.coverage
.tox/

# Migrations (optional for learning)
*/migrations/
!*/migrations/__init__.py
.idea/